@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$main-bg-color: #e6f3f8;
$main-text-color: #17517e;
$secondary-text-color: #ffaad4;

$disabled-grey: #CFCFCF;
$success-green: #228B22;
$error-red: #FF0000;

$main-title-font: 'Playfair Display', serif;
$main-body-font: 'Roboto', sans-serif;
$secondary-body-font: 'Cookie', cursive;